      button.start {
        background-color: orange;
        border-color: white;
        color: white;
      }

      button.motion {
        background-color: dodgerBlue;
        border-color: white;
        color: white;
      }
